@import url("@stream-io/video-react-sdk/dist/css/styles.css")
layer(video-default);
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;





* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;



}

/* ======== stream css overrides ======== */
.str-video__call-stats {
	max-width: 500px;
	position: relative;
}

.str-video__speaker-layout__wrapper {
	max-height: 700px;
}

.str-video__participant-details {
	color: white;
}

.str-video__menu-container {
	color: white;
}

.str-video__notification {
	color: white;
}

.str-video__participant-list {
	background-color: #1c1f2e;
	padding: 10px;
	border-radius: 10px;
	color: white;
	height: 100%;
}

.str-video__call-controls__button {
	height: 40px;
}

.glassmorphism {
	background: rgba(255, 255, 255, 0.075);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}
.glassmorphism-card {
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}
.glassmorphism2 {
	background: rgba(18, 17, 17, 0.25);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
}

/* ==== clerk class override ===== */

.cl-userButtonPopoverActionButtonIcon {
	color: white;
}

.cl-logoBox {
	height: 40px;
}
.cl-dividerLine {
	background: #252a41;
	height: 2px;
}

.cl-socialButtonsIconButton {
	border: 3px solid #565761;
}

.cl-internal-wkkub3 {
	color: white;
}
.cl-userButtonPopoverActionButton {
	color: white;
}

/* =============================== */

@layer utilities {
	.flex-center {
		@apply flex justify-center items-center;
	}

	.flex-between {
		@apply flex justify-between items-center;
	}
}

/* animation */

.show-block {
	width: 100%;
	max-width: 350px;
	display: block;
	animation: show 0.7s forwards linear;
}

@keyframes show {
	0% {
		animation-timing-function: ease-in;
		width: 0%;
	}

	100% {
		animation-timing-function: ease-in;
		width: 100%;
	}
}

span.cl-socialButtonsBlockButtonText.cl-socialButtonsBlockButtonText__google.🔒️.cl-internal-15di0mo {
	color: #ccc;
}
span.cl-socialButtonsBlockButtonText.cl-socialButtonsBlockButtonText__github.🔒️.cl-internal-15di0mo {
	color: #ccc;
}
.cl-providerIcon__github {
	filter: invert(1);
}
.camera-icon {
	filter: invert(1);
}
svg.lucide.lucide-x.h-4.w-4 {
	width: 2rem;
	height: 2rem;
	color: #efefef;
	margin-top: 12px;
}
.str-video__call-controls {
	display: flex;
	justify-content: center;
	gap: 0.6rem;
	padding: 0;
	margin-bottom: 0.6rem;
	align-items: center;
}

@media (max-width: 612px) {
	.str-video__call-controls {
		margin-bottom: 0.3rem;
	}
}
.str-video {
	--str-video__primary-color: #0e78f9;
}
.str-video__video-placeholder {
	background: rgba(10, 15, 30, 0.6);
	border-radius: inherit;
	border:1px solid #333;
}
.str-video__video-placeholder:hover {
	background: rgba(10, 15, 30, 0.9);
	border-radius: inherit;
	border: 1px solid #aaa;
}


.str-video__video-preview-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
	height: 372px;
}
@media (max-width: 992px) {
	.str-video__video-preview-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 90%;
		height: 324px;
	}
}
/* Add this CSS to your stylesheets */
.button {
	position: relative;
}

.button.loading::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	border: 2px solid #ccc;
	border-top-color: #333;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.str-video__participant-view .str-video__participant-details {
    background-color: rgba(7, 10, 24, 0.9);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border:1px solid #333;
}
.str-video__participant-view .str-video__participant-details:hover {
    background-color: rgba(7, 10, 24, 1);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	border:1px solid #aaa;
}
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before, .dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 10014px 0 0 -5px;
  }
}
/* 
.str-video__call-controls__button {
	border-radius: var(--str-video__border-radius-circle);
	text-decoration: none;
	box-shadow: none;
	border: 1px solid #333;

}

.str-video__call-controls__button:hover {
	border: 1px solid #aaa;
} */






.str-video {
	
	--str-video__button-default-base: rgba(30, 50, 100, 0.75	);
	--str-video__button-default-hover: rgba(30, 50, 100, 0.9);
	--str-video__button-default-pressed: rgba(30, 50, 100, 1);
	--str-video__button-default-active: rgba(30, 50, 100, 1);
	--str-video__button-default-disabled: rgba(30, 50, 100, 0.3);
	--str-video__button-primary-base: rgba(30, 50, 100, 0.75);

	--str-video__button-secondary-base: rgba(30, 50, 100, 0.6);

--str-video__base-color7: #000;
}


.str-video__device-settings {
	padding: 0.5rem;
	z-index: 1;
	font-family: "Ubuntu", sans-serif;
}




::-webkit-scrollbar{
	width: 8px;
	border-radius: 20px;
}
::-webkit-scrollbar-track{
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	background-color: #0e78f9;
	border-radius: 20px;
	width: 8px;
}





.str-video__video-preview-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: 358px;
}
@media (max-width: 992px) {
	.str-video__video-preview-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 90%;
		height: 324px;
	}
}
.str-video__participant-list {
	background-color: #1c1f2e;
	padding: 10px;
	border-radius: 10px;
	color: white;
	height: 90%;
	width: 75%;
}